/*.bodyBox{
  width:200px;
  height:200px;
  position:absolute;
  left:50%;

  transform: translate(-50%);
}

.footer{
  bottom:0;
  clear: both;
  position: absolute
} */

body{
  background-color: rgb(109,141,34)!important;
  /*background-image: url('psu_img.jpg');
  background-repeat:no-repeat;
  background-position:center center;*/
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

body form{
  border-radius: 25px;
  margin:8% 1%;
  background-color: white;
}

li{
  float:left;
  list-style:none;
  display: inline-block;
  margin: 0 4%;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 50px;
  width:100%;
}

.black_overlay{
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: darkgray;
  z-index:1001;
  -moz-opacity: 0.8;
  opacity:.80;
  filter: alpha(opacity=88);
}

.white_content {
  display: none;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 55%;
  height: 55%;
  padding: 20px;
  border-radius: 25px;
  /*border: 5px solid #ff4c00;*/
  background-color: white;
  z-index:1002;
  overflow: auto;
}

a:link{
  color: white;
  text-decoration: none;
}

a:link:hover{
  color: gainsboro;
  text-decoration: underline;
}

.dropdown-toggle{
  color:white;
  text-decoration: none;
}

.dropdown-toggle:hover, .dropdown-toggle:focus{
  color:gainsboro;
  text-decoration: underline;
}

.dropdown-toggle:hover .dropdown-menu{
  display: block;
  position:absolute;
  bottom: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  bottom: 50px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu a:hover {background-color: #f1f1f1}

.show {display:block;}
