<body>
    <div class="navbar" routerLinkActive="active">
        <!-- <a class="active" href="#home">Home</a> -->
        <a routerLink="">Appointments</a>
        <a routerLink="search">Search</a>
        <!-- <a routerLink="/about">About</a>
        <div class="dropdown">
        <button class="dropbtn">Dropdown
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="#">test</a>
            <a href="#">test 2</a>
            <a href="#">test 3</a>
        </div>
        </div>
        <a href="#Login">Login</a>
        -->
    </div>

    <!-- <router-outlet></router-outlet> -->

</body>
