.mfsw-row .column {
  float: left;
  padding: 0 10px;
  min-width: 120px;
}
.mfsw-row .left {
  width: 30%;
}
.mfsw-row .right {
  width: 70%;
}
.mfsw-row:after {
  content: "";
  display: block;
  clear: both;
}

h1 {
color: brown;
}

.link-button {
  margin: 0;
  padding: 0;
}

.btn-link {
  padding: 5px;
  color: white;
  background-color: #02759A;
}

.btn-success {
  background-color: #6a7f10;
  border-color: #6a7f10;
}

.btn-primary {
  background-color: #02759A;
  border-color: #02759A;
}

.btn-danger {
  background-color: #cd4628;
  border-color: #cd4628;
}
