<body>
  <div class="overlay">
    <div class="summary" *ngIf="check()">
      <h1>Appointment/Interaction Summary</h1>
      <button type="button" class="btn btn-danger btn-block" (click)="closeQuickView()">
        <!-- Span is missing X glyphicon -->
        <span>
         <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
           <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
         </svg>
          Done
        </span>
      </button>
      <hr>

      <div class="mfsw-row">
        <div class="column">
          <p>
            <button class="btn btn-link" (click)="openRecordView()" *ngIf="detail.contactId" href="./#/record/{{detail.contactId}}">{{detail.contactName}}</button>
            <a *ngIf="!detail.contactId">{{detail.contactName}}</a>
          </p>
        </div>
      </div>

      <div class="mfsw-row">
        <div class="column left">
          <strong>Team</strong>
        </div>
        <div class="column right">
          <span>{{detail.teamName}}</span>
        </div>
      </div>

      <div class="mfsw-row">
        <div class="column left">
          <strong>Appointment</strong>
        </div>
        <div class="column right">
          <span>{{detail.id}}</span>
        </div>
      </div>

      <div class="mfsw-row">
        <div class="column left">
          <strong>Interaction</strong>
        </div>
        <div class="column right">
          <span>{{detail.interactionId}}</span>
        </div>
      </div>

      <div class="mfsw-row">
        <div class="column left">
          <strong>Here for</strong>
        </div>
        <div class="column right">
          <span>{{detail.apptType}}</span>
        </div>
      </div>

      <div class="mfsw-row">
        <div class="column left">
          <strong>Signed in at</strong>
        </div>
        <div class="column right">
          <span>{{detail.interactionCreatedOn}}</span>
        </div>
      </div>

      <div class="mfsw-row">
        <div class="column left">
          <strong>Here to see</strong>
        </div>
        <div class="column right">
          <span>{{detail.ownerName}}</span>&nbsp;
          <button type="button" class="btn btn-primary" (click)="show()">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>
          </button>
          <div class="right">
            <select *ngIf="list" id="options" type="selectdropdown block" (change)="changeSelect($event.target.value)">
              <option value="">Choose One</option>
              <option *ngFor="let user of users; let k = index" value="{{k}}">{{user.name}}</option>
            </select>
          </div>
          <div class="right">
            <button type="button" class="btn btn-warning" *ngIf="reassignShow" (click)="reassign()">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                <path fill-rule="evenodd" d="M1.5 13A1.5 1.5 0 0 0 3 14.5h10a1.5 1.5 0 0 0 1.5-1.5V8a.5.5 0 0 0-1 0v5a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V3a.5.5 0 0 1 .5-.5h8a.5.5 0 0 0 0-1H3A1.5 1.5 0 0 0 1.5 3v10z"/>
              </svg>
              Reassign Appointment
            </button>
          </div>
        </div>
      </div>

      <div class="mfsw-row">
        <div class="column left">
          <strong>Meeting with</strong>
        </div>
        <div class="column right">
          <span>{{detail.interactionOwnerName}}</span>
        </div>
      </div>

      <div class="mfsw-row">
        <div class="column left">
          <strong>Major asserted</strong>
        </div>
        <div class="column right">
          <span>{{detail.major}}</span>
        </div>
      </div>

      <div class="mfsw-row">
        <div class="column left">
          <strong>Preprof asserted</strong>
        </div>
        <div class="column right">
          <span>{{detail.preprof}}</span>
        </div>
      </div>

      <div class="mfsw-row">
        <div class="column left">
          <strong>Honors asserted</strong>
        </div>
        <div class="column right">
          <span>{{detail.honors}}</span>
        </div>
      </div>

      <div class="mfsw-row">
        <div class="column left">
          <strong>Expected grad</strong>
        </div>
        <div class="column right">
          <span>{{detail.gradExpected}}</span>
        </div>
      </div>

      <div class="mfsw-row">
        <div class="column left">
          <strong>State</strong>
        </div>
        <div class="column right">
          <span>{{detail.condition}}</span>
        </div>
      </div>

      <div class="mfsw-row">
        <div class="column left">
          <strong>Subject</strong>
        </div>
        <div class="column right">
          <span>{{detail.subject}}</span>&nbsp;
          <a *ngIf="detail.interactionId" href="./#/appointments/{{detail.interactionId}}" role="button" class="btn btn-primary">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-link-45deg" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.715 6.542L3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.001 1.001 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
              <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 0 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 0 0-4.243-4.243L6.586 4.672z"/>
            </svg>
          </a>
        </div>
      </div>

      <div class="mfsw-row">
        <div class="column left">
          <strong>Name</strong>
        </div>
        <div class="column right">
          <span>{{detail.name}}</span>
        </div>
      </div>

      <div class="mfsw-row">
        <div class="column left">
          <strong>Reasons</strong>
        </div>
        <div class="column right">
          <span>{{detail.reasons}}</span>
        </div>
      </div>

      <div class="mfsw-row">
        <div class="column left">
          <strong>Notes</strong>
        </div>
        <div class="column right">
          <span>{{detail.notes}}</span>
        </div>
      </div>

      <div class="mfsw-row">
        <div class="column left">
          <strong>Appointment Start</strong>
        </div>
        <div class="column right">
          <span>{{detail.startOn}}</span>
        </div>
      </div>

      <hr>
      <button type="button" class="btn btn-success btn-block">
        <!-- TODO BEGIN SESSION SCREEN + UPDATE STATUS -->
        <span>
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-right-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
          </svg>
          Begin Session
        </span>
      </button>

    </div>
    <div *ngIf="!check()">
      ERROR
    </div>
  </div>
  </body>
