<body>

  <div class="interaction-header">
    <div *ngIf="isPhoto; else noPhoto">
      <!--TODO-->
      <!--Use student profile picture here, if it exists -->
    </div>

    <ng-template #noPhoto>
      <div style="align-content: center">
        <img id="pfp" src="../assets/defaultProfilePic.png" width="50%">
        <p>No photo on file.</p>
      </div>
    </ng-template>

    <div class="interaction-name">
      <h1>Interaction: {{interactionData?.contact.fullName}}</h1>
      <div class="interaction-name-details" >
        <h4 style="float: left">"Drop-in for {{interactionData?.contact.fullName}}"</h4>
        <h4 stlyel="float: right">&nbsp; created on placeholder</h4>
      </div>
    </div>
  </div>

  <div>
    <mat-tab-group >
      <mat-tab label="Advising">
        <div class="advisingTab">
          <button class="btn btn-primary btn-block advisingButton">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
            Add New Message
          </button>

          <div class="advising-grid-parent">
            <div class="advising-grid-1">
              <table class="table advisingTable">
                <thead class="thead-light">
                  <h3>Contact Properties</h3>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">PSUID</th>
                    <td>{{interactionData?.contact.badgeId}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Email</th>
                    <td>{{interactionData?.contact.email}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Odin</th>
                    <td>{{interactionData?.contact.id}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Phone</th>
                    <td>{{interactionData?.contact.phone}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Major</th>
                    <td>{{interactionData?.contact.studentRecord.major}}</td>
                  <tr>
                    <th scope="row">Minor</th>
                    <td>{{interactionData?.contact.studentRecord.minor}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Program</th>
                    <td>{{interactionData?.contact.studentRecord.preprof}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Standing</th>
                    <td>{{interactionData?.interaction.contact.studentRecord.classStanding}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Enrolled in Honors</th>
                    <td>{{interactionData?.interaction.contact.studentRecord.honorsEnrollment}}</td>
                  </tr>
                  <tr>
                    <th scope="row">4YDG</th>
                    <td>placeholder</td>
                  </tr>
                  <tr>
                    <th scope="row">Advising Holds</th>
                    <td>{{interactionData?.interaction.contact.studentRecord.hasAdvisingHolds}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Registration Holds</th>
                    <td>{{interactionData?.interaction.contact.studentRecord.holdsReg}}</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="advising-grid-2">
              <table class="table advisingTable">
                <thead class="thead-light">
                <h3>Interaction Properties</h3>
                </thead>
                <tr>
                  <th scope="row">Interaction ID</th>
                  <td>{{interactionData?.interaction.id}}</td>
                </tr>
                <tr>
                  <th scope="row">Interaction State</th>
                  <td>{{interactionData?.interaction.interactionState}}
                    <button class="btn btn-primary resolve-btn">
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                      </svg>
                      resolve
                    </button>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Reply State</th>
                  <td>{{interactionData?.interaction.replyState}}</td>
                </tr>
                <tr>
                  <th scope="row">Medium</th>
                  <td>{{interactionData?.interaction.mediaType}}</td>
                </tr>
                <tr>
                  <th scope="row">Topic</th>
                  <td>{{interactionData?.interaction.topic}}</td>
                <tr>
                  <th scope="row">Subtopic</th>
                  <td>{{interactionData?.interaction.subtopic}}</td>
                </tr>
                <tr>
                  <th scope="row">Assigned Team</th>
                  <td>{{interactionData?.interaction.teamName}}</td>
                </tr>
                <tr>
                  <th scope="row">Assigned to</th>
                  <td>
                    {{interactionData?.interaction.contact.studentRecord.academicAdvisor}}
                    <button class="btn btn-primary reassign-btn">
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                      </svg>
                      Reassign
                    </button>
                  </td>
                </tr>
              </table>
            </div>

            <div class="advising-grid-3">
              <table class="table advisingTable">
                <thead class="thead-light">
                <h3>Sign-In Info</h3>
                </thead>
                <tr>
                  <th scope="row">Last activity</th>
                  <td>{{interactionData?.interaction.interactionThreadLastUpdated}}</td>
                </tr>
                <tr>
                  <th scope="row">Name(s) entered</th>
                  <td>placeholder
                  </td>
                </tr>
                <tr>
                  <th scope="row">Scheduled</th>
                  <td>placeholder</td>
                </tr>
                <tr>
                  <th scope="row">Major asserted</th>
                  <td>{{interactionData?.interaction.majorAsserted}}</td>
                </tr>
                <tr>
                  <th scope="row">Requested to see</th>
                  <td>placeholder</td>
                <tr>
                  <th scope="row">Honors asserted</th>
                  <td>{{interactionData?.interaction.honors}}</td>
                </tr>
                <tr>
                  <th scope="row">Expected grad</th>
                  <td>{{interactionData?.interaction.contact.expectedGradTerm}}</td>
                </tr>
              </table>
            </div>

            <div class="advising-grid-4">
              <table class="table advisingTable">
                <thead class="thead-light"><h3>&nbsp;</h3></thead>
                <tr>
                  <th scope="row">Appointment Name</th>
                  <td>{{interactionData?.interaction.aptName}}</td>
                </tr>
                <tr>
                  <th scope="row">Session Start</th>
                  <td>{{interactionData?.interaction.sessionStartTime}}</td>
                </tr>
                <tr>
                  <th scope="row">Session End</th>
                  <td>{{interactionData?.interaction.sessionEndTime}}</td>
                </tr>
                <tr>
                  <th scope="row">Reasons</th>
                  <td>{{interactionData?.interaction.aptReasons}}</td>
                </tr>
                <tr>
                  <th scope="row">Notes</th>
                  <td>{{interactionData?.interaction.aptNotes}}</td>
                </tr>
                <tr>
                  <th scope="row">Condition</th>
                  <td>{{interactionData?.interaction.aptCondition}}</td>
                </tr>
              </table>
            </div>
          </div>

          <button class="btn btn-warning btn-block advisingButton">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-link-45deg" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.715 6.542L3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.001 1.001 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
              <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 0 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 0 0-4.243-4.243L6.586 4.672z"/>
            </svg>
            Finish Appointment
          </button>
        </div>
      </mat-tab>

      <mat-tab label="History">
        <div class="history-table">
          <table class="table">
            <thead class="thead-light">
              <tr>
               <th scope="col">Subject</th>
               <th scope="col">Team</th>
               <th scope="col">Owner</th>
               <th scope="col">MediaType</th>
               <th scope="col">State</th>
               <th scope="col">Created Start</th>
               <th scope="col">Meta</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let history of interactionData.history">
                <td>{{history.interactionSubject}}</td>
                <td>{{history.interactionTeamName}}</td>
                <td>{{history.interactionAssignedToName}}</td>
                <td>{{history.interactionMedium}}</td>
                <td>{{history.interactionState}}</td>
                <td>{{history.createdOnOrStartOn}}</td>
                <td>
                  <button class="btn btn-primary">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-briefcase-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5V6.85L8.129 8.947a.5.5 0 0 1-.258 0L0 6.85v5.65z"/>
                      <path fill-rule="evenodd" d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5v1.384l-7.614 2.03a1.5 1.5 0 0 1-.772 0L0 5.884V4.5zm5-2A1.5 1.5 0 0 1 6.5 1h3A1.5 1.5 0 0 1 11 2.5V3h-1v-.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5V3H5v-.5z"/>
                    </svg>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-tab>

      <mat-tab label="Messages">
        <div class="messages-tab">
          <h2>Message History for this Interaction</h2>
          <div class="messages" *ngFor="let message of interactionData.messages">
            <p class="message-header">"Drop-in for {{interactionData?.contact.fullName}}" on {{message.date}}</p>
            <p>{{message.content}}</p>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Attachments">
        Attachments <!--TODO-->
      </mat-tab>

      <mat-tab label="Private Notes">
        <div>
          <h2>{{interactionData?.pvtNote}}</h2>
        </div>
      </mat-tab>

      <mat-tab label="Properties">
        Properties <!--TODO-->
      </mat-tab>
    </mat-tab-group>
  </div>

</body>
