h1 {
  color: brown;
}

th {
  font-weight: normal;
}

.columns {
  font-weight: bold;
}

.mfsw-row .column {
  float: left;
  padding: 0 10px;
  min-width: 120px;
}
.mfsw-row .left {
  width: 30%;
}
.mfsw-row .right {
  width: 70%;
  text-align: right;
}
.mfsw-row:after {
  content: "";
  display: block;
  clear: both;

}

@media screen and (max-width: 720px) {
  .appt-table{
    min-width: 652px;
  }
}