<body>
  
  <div *ngFor="let table of tables">

    <h1>{{table.name}}</h1>

    <div aria-label="subheader" class="mfsw-row" id="{{table.id}}Filters">
      <!-- Show _ entries select dropdown -->
      <div class="column left">
        <label>Show
          <select id="{{table.id}}Entries" type="selectdropdown" aria-controls="{{table.id}}Range" (change)="changeRange($event.target.value, table.index)" [(ngModel)]="table.range">
            <option *ngFor="let value of entries" id="{{table.id}}{{value}}" value="{{value}}">{{value}}</option>
          </select>
          entries
        </label>
      </div>

      <!-- Filter search bar and button -->
      <div class="column right">

        <label style="font-weight: bold;">Filter Results: &nbsp;</label>
        <input id="{{table.id}}FilterInput" type="text" (input)="filter($event, table.index, table.id)" value="">
        <span>&nbsp;</span>
        <button id="{{table.id}}FilterButton" type="button" class="btn btn-success" (click)="filterType($event, table.id, table.index)">Requiring All</button>
      </div>
    </div>

    <table class="table table-striped table-hover" id="{{table.id}}">
      <thead class="thead-light">
        <!-- Labels for columns -->
        <tr>
          <th scope="col" class="columns" *ngFor="let column of columnNames">{{column.label}}</th>
        </tr>
      </thead>

      <tbody *ngFor="let meeting of table.source; let k = index;" id="{{table.id}}Display">
        <tr *ngIf="checkCondition(table.id, meeting.condition)">
          <th scope="rowgroup">
            <button type="button" class="btn btn-primary" (click)="openQuickView(meeting)">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
              </svg>
            </button>
            {{meeting.time}}
          </th>
          <td *ngIf="meeting.contactId">
            <a href="javascript:void(0);" (click)="openRecordView(meeting)">{{meeting.name}}</a>
            <!-- <button type="button" class="btn btn-link" (click)="openRecordView(meeting)">{{meeting.name}}</button> -->
          </td>
          <td *ngIf="!meeting.contactId">
            <a>{{meeting.name}}</a>
            <!-- <button type="button" class="btn" disabled style="color: #000000">{{meeting.name}}</button> -->
          </td>
          <td>{{meeting.ownerName}}</td>
          <td>{{meeting.teamName}}</td>
          <td>{{meeting.interactionOwnerName}}</td>
          <td>
            <!-- <a *ngIf="meeting.interactionId" href="./#/appointments/{{meeting.interactionId}}" role="button" class="btn btn-primary"> -->
            <a *ngIf="meeting.interactionId" href="." role="button" class="btn btn-primary">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-link-45deg" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.715 6.542L3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.001 1.001 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
                <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 0 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 0 0-4.243-4.243L6.586 4.672z"/>
              </svg>
            </a>
            {{meeting.subject}}
          </td>
          <td>
            <div class="dropdown">
              <a *ngIf="meeting.condition === 'Scheduled' && table.id === 'queues'"class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{meeting.condition}}
              </a>
              <a *ngIf="meeting.condition === 'Checked In' && table.id === 'queues'" class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{meeting.condition}}
              </a>
              <a *ngIf="meeting.condition === 'Active' && table.id === 'actives'" class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{meeting.condition}}
              </a>
              <a *ngIf="(meeting.condition === 'Finished' || meeting.condition === 'No-show' || meeting.condition === 'Canceled') && table.id === 'completeds'" class="btn btn-warning dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{meeting.condition}}
              </a>
              <div class="dropdown-menu">
                <button class="dropdown-item" *ngFor="let meetingCondition of meetingConditions" (click)="updateCondition(meetingCondition, meeting, table.index)">{{meetingCondition.label}}</button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>

      <thead>
        <!-- Labels for lower columns -->
        <tr>
          <th scope="col" class="columns" *ngFor="let column of columnNames">{{column.label}}</th>
        </tr>
      </thead>

    </table>

    <div aria-label="{{table.id}}Footer" class="mfsw-row">
      <!-- Showing _ to _ of _ -->
      <div class="column left"> Showing {{table.start}} to {{table.end}} of {{table.total}} entries
      </div>
      <!-- Page _ / _ -->
      <div class="column right">
        <button type="button"
                class="btn btn-primary"
                (click)="prevPage(table.index)">Prev</button>&nbsp;
        <button type="button"
                class="btn btn-primary"
                (click)="nextPage(table.index)">Next</button>
        <span>&nbsp;Page {{table.page}}/{{table.totalPages}}&nbsp;</span>
      </div>
    </div>
    <br>

  </div>  
</body>
