h1 {
  color: brown;
}

th {
  font-weight: normal;
  max-width: 10%;
}

.columns {
  font-weight: bold;
  width: 25% ;
}

.mfsw-row .column {
  float: left;
  padding: 0 10px;
  min-width: 120px;
}

.mfsw-row .left {
  width: 30%;
}

.mfsw-row .right {
  width: 70%;
  text-align: right;
}

.mfsw-row:after {
  content: "";
  display: block;
  clear: both;
}

@media screen and (max-width: 720px) {
  .appt-table{
    min-width: 652px;
  }
}

.btn-link {
  color: #02759A;
}

.btn-light {
  color: white;
  background-color: #cd4628;
}

.btn-success {
  background-color: #6a7f10;
  border-color: #6a7f10;
}

.btn-success.dropdown-toggle {
  background-color: #6a7f10;
  border-color: #6a7f10;
}

.btn-primary {
  background-color: #02759A;
  border-color: #02759A;
}

.btn-primary.dropdown-toggle {
  background-color: #02759A;
  border-color: #02759A;
}

.btn-danger {
  background-color: #cd4628;
  border-color: #cd4628;
}

.btn-info {
  background-color: #cd4628;
  border-color: #cd4628;
}

.btn-info.dropdown-toggle {
  background-color: #cd4628;
  border-color: #cd4628;
}
