<div>
<ul>
    <li>
        <form [formGroup]="form" class="form-group">
                <select formControlName="dropdown" class="form-control" (change)="applyTeam($event)">
                    <option>Choose team</option>
                    <option *ngFor="let list of teams">{{list.teamName}}</option>
                </select>
        </form>
    </li>
    <li>
        <form [formGroup]="form" *ngIf="(teamId > -1) && users">
            <div class="form-group">
                <select formControlName="dropdown" class="form-control" (change)="applyUser($event)">
                    <option>Users (all)</option>
                    <option *ngFor="let list of users">{{list.name}}</option>
                </select>
            </div>
        </form>
    </li>
    <li>
        <span>{{formatDate(currentDate)}}</span>
        <input type="date" class="form-group" placeholder="'mm/dd/yyyy'" (change)="applyDate($event)">
    </li>
    <li>
        <button (click)="getAppointments()">Refresh</button>
    </li>
</ul>
</div>