ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

/* The dropdown container */
.dropdown {
overflow: hidden;
display: inline-block;
}

/* Dropdown button */
.dropdown .dropbtn {
font-size: 16px;
height: 2.5em;
border: 0px;
outline: none;
background-color: #6a7f10;
color: white;
font-family: inherit; /* Important for vertical align on mobile phones */
margin: 0; /* Important for vertical align on mobile phones */
padding-left: 6px;
padding-right: 6px;
}

.dropdown-content {
background-color: #333;
color: white;
}