<div>
<ul>
    <li>
        <form [formGroup]="form">
            <div class="form-group">
                <select formControlName="dropdown" class="form-control" (change)="selectTeam($event)">
                    <option>Choose team</option>
                    <option *ngFor="let list of teams">{{list}}</option>
                </select>
            </div>
        </form>
    </li>
    <li>
        <form [formGroup]="form">
            <div class="form-group">
                <select formControlName="dropdown" class="form-control" (change)="selectUser($event)">
                    <option>Users (all)</option>
                    <option *ngFor="let list of users">{{list.name}}</option>
                </select>
            </div>
        </form>
    </li>
    <li>
        <p>[Calendar goes here]</p>
    </li>
    <li>
        <button (click)="refresh()">Refresh</button>
    </li>
</ul>
</div>